body {
    background:#222;
    color:white;
    text-align:center;
    font-family:Arial;
}

#container {
    display:flex;
    justify-content:center;
    gap:20px;
}

#board {
    display:grid;
    grid-template-columns:repeat(8,70px);
    grid-template-rows:repeat(8,70px);
    border:4px solid white;
}

.square {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:42px;
    cursor:pointer;
}

.light { background:#f0d9b5; }
.dark { background:#b58863; }

.selected { outline:3px solid red; }
.move {
    background:radial-gradient(circle, rgba(0,255,0,.6) 25%, transparent 30%);
}

#chat {
    width:220px;
    background:#111;
    padding:10px;
}
