body {
    background: #222;
    color: white;
    text-align: center;
    font-family: Arial;
}

#container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 3px solid white;
}

.square {
    width: 60px;
    height: 60px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.white { background: #eee; color: black; }
.black { background: #555; }

.highlight {
    background: green !important;
}

#chat {
    width: 250px;
    background: #111;
    padding: 10px;
}
